<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>${htmlWebpackPlugin.options.title}</title>
</head>
<body>
    <h1>222For dist folder</h1>
    <p>Primer our fonts 44 css</p>
    <p class="woff-test">Primer our fonts 44 css</p>
    <button id="timbioz">Super</button>
    <img src="${require('../images/car3.jpg')}" alt="">

    <img src="${require('../images/logo.png')}" alt="">

    <img class="svg-test" src="${require('../images/test.svg')}" alt="">

    ${require('html-loader!./partial/partial.html')}

    <div class="css-image-test"></div>
    <div class="css-image-test2"></div>

    ${require('html-loader!./partial/partial2.html')}
</body>
</html>