@import "variables";

h1 {
    color: $main-color;
    background-color: #ff3300;
    display: flex;
}

.boo { flex: 1; }

.svg-test {
    width: 7rem;
}

.css-image-test {
    height: 200px;
    width: 500px;
    background: url("../images/car1.jpg");
}